.open-sans-narmal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.head {
    background-image: url(images/developer.png), url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}


/* nav style */


nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
    align-items: center;
    position: sticky;
}


nav ul {

    display: flex;
    align-items: center;
}


nav ul li {
    list-style: none;
    margin: 50px;
    align-items: center;
}



nav ul li a {
    text-decoration: none;
}




/* style header */

.text-style {
    color: #FD6E0A;
}


.dark-2 {
    font-size: 25px;
    color: #474747;
}

.h-3 {
    font-size: 50px;
    font-weight: bolder;
}


.btn {
    background-color: #FD6E0A;
    padding: 20px 40px;
    text-align: center;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
}


/* div styles */

.banner {

    display: flex;
    justify-content: space-between;
}



.h-1 {
    font-weight: bold;
    font-size: 85px;
    color: #181818;
}

.banner-describtion {
    color: #757575;
    font-size: 30px;
    margin-right: 350px;
}

.banner-content {
    margin: 100px 150px;
}

.photo {
    margin: 10;
}

.download-cv {
    display: flex;
    gap: 50px;
    align-items: center;
}