.open-sans-narmal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.head {
    background-image: url(images/developer.png), url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}


.secondary-bg {
    background-color: #fff8f3;
}

/* nav style */


nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
    align-items: center;
}


nav ul {

    display: flex;
    align-items: center;
}


nav ul li {
    list-style: none;
    margin: 50px;
    align-items: center;
}



nav ul li a {
    text-decoration: none;
}




/* style header */

.text-style {
    color: #FD6E0A;
}


.dark-2 {
    font-size: 25px;
    color: #474747;
}

.h-3 {
    font-size: 50px;
    font-weight: bolder;
}


.btn {
    background-color: #FD6E0A;
    padding: 20px 40px;
    text-align: center;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
}


/* div styles */

.banner {

    display: flex;
    justify-content: space-between;
}



.h-1 {
    font-weight: bold;
    font-size: 85px;
    color: #181818;
}

.banner-describtion {
    color: #757575;
    font-size: 30px;
    margin-right: 350px;
}

.banner-content {
    margin: 100px 150px;
}

.photo {
    margin-right: 100;
    width: 580px;
}

.download-cv {
    display: flex;
    gap: 50px;
    align-items: center;
}


/* main style */

main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin: 80px 0px;
}


/* sectopm */


.p-tag {
    color: #474747;
    font-size: 25px;
    text-align: center;
    padding: 20px;
}

.about {
    padding: 80px 100px;
    border-radius: 5px;
    text-align: center;


}


.section-title {
    font-weight: bold;
    font-size: 50px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    ;
}

.about-items {
    display: flex;
    justify-content: space-around;
    font-weight: bolder;
    font-size: 15px;
}


.paragraph {
    font-weight: bold;
    font-size: 10px;
}

.secton-description {
    text-align: center;
}


.skill-container {
    display: flex;
    gap: 24px;
    justify-content: space-around;
}


.skills {
    background-color: #ebd9cd;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.experience {
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}


.section-titles {
    text-align: center;
}

.resume-container {
    display: flex;
}



.resume-collumn-title {
    font-size: 30px;
}


.experience-sub-title {
    font-size: 15px;

}

/* footer styles */
footer {
    padding: 80px 130px;
    display: flex;
    gap: 100px;
}

.footer-column {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-column h3,
.footer-column p {
    margin-left: 0px;
    padding-left: 0px;
    text-align: left;
}


footer form {
    width: 100%;
}

footer input[type="text"],
footer input[type="email"],
footer textarea {
    display: block;
    width: 100%;
    height: 64px;
    border-radius: 5px;
    background-color: #e9d1c0;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}


.section-titles {
    font-size: 30px;
    font-weight: bold;
}